# question 1

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import re

In [276]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [277]:
name=[]
name_tags=driver.find_elements(By.XPATH,'//table[3][@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]/a')
for i in name_tags:
    name.append(i.text)
art=[]
art_tags=driver.find_elements(By.XPATH,'//table[3][@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in art_tags:
    art.append(i.text)
date=[]
date_tags=driver.find_elements(By.XPATH,'//table[3][@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in  date_tags:
    date.append(i.text)
view=[]
view_tags=driver.find_elements(By.XPATH,'//table[3][@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in view_tags:
    view.append(i.text)
df=pd.DataFrame({'name':name,"artist":art,'date of uplode':date,"views":view})
df

,name,artist,date of uplode,views
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","7,046,700,000"
1,Despacito,Luis Fonsi,"January 12, 2017","2,993,700,000"
2,See You Again,Wiz Khalifa,"April 6, 2015","2,894,000,000"
3,Gangnam Style,Psy,"July 15, 2012","803,700,000"
4,Baby,Justin Bieber,"February 19, 2010","245,400,000"
5,Bad Romance,Lady Gaga,"November 24, 2009","178,400,000"
6,Charlie Bit My Finger,HDCYT,"May 22, 2007","128,900,000"
7,Evolution of Dance,Judson Laipply,"April 6, 2006","118,900,000"
8,Girlfriend,RCA Records,"February 27, 2007","92,600,000"
9,Evolution of Dance,Judson Laipply,"April 6, 2006","78,400,000"
10,Music Is My Hot Hot Sex,CLARUSBARTEL72,"April 9, 2007","76,600,000"
11,Evolution of Dance,Judson Laipply,"April 6, 2006","10,600,000"
12,Pok√©mon Theme Music Video,Smosh,"November 28, 2005","4,300,000"
13,Myspace ‚Äì The Movie,eggtea,"January 31, 2006","2,700,000"
14,Phony Photo Booth,mugenized,"December 1, 2005","3,400,000"
15,The Chronic of Narnia Rap,youtubedude,"December 18, 2005","2,300,000"
16,Ronaldinho: Touch of Gold,Nikesoccer,"October 21, 2005","255,000"
17,I/O Brush,larfus,"October 5, 2005","247,000"
18,Me at the zoo,jawed,"April 23, 2005",1

# QUESTION 2

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [272]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get('https://www.bcci.tv/')

In [273]:
inte=driver.find_element(By.XPATH,'//li[@class="nav-item"]/a')
inte.click()
time.sleep(3)
title=[]
title_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]/span[1]')
for i in title_tags:
    title.append(i.text)
place=[]
place_tags=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]/span[2]')
for i in place_tags:
    place.append(i.text)
ser=[]
ser_tags=driver.find_elements(By.XPATH,'//h5[2][@class="fix-text"]/span')
for i in ser_tags:
    ser.append(i.text)
date=[]
date_tags=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tags:
    date.append(i.text)
timee=[]
time_tags=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tags:
    timee.append(i.text)
df=pd.DataFrame({"title":title,"series":ser,"date":date,"palce":place,"time":timee})
df

,title,series,date,palce,time
0,2nd T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,29 DEC 2022,"Steyn City School Ground,",5:15 PM IST
1,3rd T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,31 DEC 2022,"Steyn City School Ground,",1:30 PM IST
2,4th T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,2 JAN 2023,"Steyn City School Ground,",5:15 PM IST
3,1st T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3 JAN 2023,"Wankhede Stadium,",7:00 PM IST
4,5th T20I -,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4 JAN 2023,"Steyn City School Ground,",1:30 PM IST
5,2nd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,5 JAN 2023,"Maharashtra Cricket Association Stadium,",7:00 PM IST
6,3rd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,7 JAN 2023,"Saurashtra Cricket Association Stadium,",7:00 PM IST
7,1st ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,10 JAN 2023,"Barsapara Cricket Stadium,",1:30 PM IST

# QUESTION 3

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')
import re

In [163]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get('https://www.guru99.com/')

In [164]:
driver.maximize_window()
time.sleep(6)
sel=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
sel.click()
time.sleep(5)
tut=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')
tut.click()
time.sleep(3)
name=[]
name_tags=driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p/strong')
for i in name_tags:
    name.append(i.text)
namee=name[0:41]
k2=[]
for i in range(len(namee)):
    x1=re.findall(r'. (.*):',namee[i])
    k2.append(x1)    
des=[]
des_tags=driver.find_elements(By.XPATH,'//div[@class="entry-content-wrap"]/div/p')
for i in des_tags:
    des.append(i.text)
dess=des[0:41]
k=[]
for i in range(len(dess)):
    X=re.findall(r':(.*)',dess[i])
    k.append(X)
df=pd.DataFrame({'name':k2,'description':k})
df

,name,description
0,[ElementNotVisibleException],[ This type of Selenium exception occurs when ...
1,[ElementNotSelectableException],[ This Selenium exception occurs when an eleme...
2,[NoSuchElementException],[ This Exception occurs if an element could no...
3,[NoSuchFrameException],[ This Exception occurs if the frame target to...
4,[NoAlertPresentException],[ This Exception occurs when you switch to no ...
5,[NoSuchWindowException],[ This Exception occurs if the window target t...
6,[StaleElementReferenceException],[ This Selenium exception occurs happens when ...
7,[SessionNotFoundException],[ The WebDriver is acting after you quit the b...
8,[TimeoutException],[ Thrown when there is not enough time for a c...
9,[WebDriverException],[ This Exception takes place when the WebDrive...
10,[ConnectionClosedException],[ This type of Exception takes place when ther...
11,[ElementClickInterceptedException],[ The command may not be completed as the elem...
12,[ElementNotInteractableException],[ This Selenium exception is thrown when any e...
13,[ErrorInResponseException],[ This happens while interacting with the Fire...
14,[ErrorHandler.UnknownServerException],[ Exception is used as a placeholder in case i...
15,[ImeActivationFailedException],[ This expectation will occur when IME engine ...
16,[ImeNotAvailableException],[ It takes place when IME support is unavailab...
17,[InsecureCertificateException],[ Navigation made the user agent to hit a cert...
18,[InvalidArgumentException],[ It occurs when an argument does not belong t...
19,[InvalidCookieDomainException],[ This happens when you try to add a cookie un...
20,[InvalidCoordinatesException],[ This type of Exception matches an interactin...
21,[InvalidElementStateException],[ It occurs when command can‚Äôt be finished whe...
22,[InvalidSessionIdException],[ This Exception took place when the given ses...
23,[InvalidSwitchToTargetException],[ This occurs when the frame or window target ...
24,[JavascriptException],[ This issue occurs while executing JavaScript...
25,[JsonException],[ It occurs when you afford to get the session...
26,[NoSuchAttributeException],[ This kind of Exception occurs when the attri...
27,[MoveTargetOutOfBoundsException],[ It takes place if the target provided to the...
28,[NoSuchContextException],[ ContextAware does mobile device testing.]
29,[NoSuchCookieException],[ This Exception occurs when no cookie matchin...
30,[NotFoundException],[ This Exception is a subclass of WebDriverExc...
31,[RemoteDriverServerException],[ This Selenium exception is thrown when the s...
32,[ScreenshotException],[ It is not possible to capture a screen.]
33,[SessionNotCreatedException],[ It happens when a new session could not be s...
34,[UnableToSetCookieException],[ This occurs if a driver is unable to set a c...
35,[UnexpectedTagNameException],[ Happens if a support class did not get a web...
36,[UnhandledAlertException],[ This expectation occurs when there is an ale...
37,[UnexpectedAlertPresentException],[ It occurs when there is the appearance of an...
38,[UnknownMethodException],[ This Exception happens when the requested co...
39,[UnreachableBrowserException],[ This Exception occurs only when the browser ...
40,[UnsupportedCommandException],[ This occurs when remote WebDriver doesn‚Äôt se...

# QUESTION 4

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [270]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get("https://www.statisticstimes.com/")

In [271]:
cli=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
cli.click()
time.sleep(2)
ind=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
ind.click()
time.sleep(2)
driver.back()
cli=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
cli.click()
time.sleep(2)
ind=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
ind.click()
time.sleep(2)
stg=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
stg.click()
time.sleep(4)
state=[]
state_tags=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[2]')
for i in state_tags:
    state.append(i.text)
gds18=[]
gds_tags18=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[3]')
for i in gds_tags18:
    gds18.append(i.text)
gds19=[]
gds_tags19=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[4]')
for i in gds_tags19:
    gds19.append(i.text)
share18=[]
share_tags18=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[5]')
for i in share_tags18:
    share18.append(i.text)
b=[]
b_tags=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[6]')
for i in b_tags:
    b.append(i.text)
rank=[]
rank_tags=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table/tbody/tr/td[1]')
for i in rank_tags:
    rank.append(i.text)
df=pd.DataFrame({"rank":rank,"state":state,"gsdp(18-19)":gds18,"gsdp(19-20)":gds19,"share":share18,"gdp":b})
df

   rank                      state gsdp(18-19) gsdp(19-20)   share      gdp
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
..  ...                        ...         ...         ...     ...      ...
61   29                     Sikkim      28,391      25,141   0.15%   17,060
62   30                   Nagaland           -      24,534   0.15%        -
63   31          Arunachal Pradesh           -      22,488   0.13%        -
64   32                    Mizoram      24,424      20,947   0.13%   17,797
65   33  Andaman & Nicobar Islands           -           -       -        -

[66 rows x 6 columns]

# QUESTION 5

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [244]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get("https://github.com/")

In [245]:
sin=driver.find_element(By.XPATH,'//div[@class="position-relative mr-lg-3 d-lg-inline-block"]/a')
sin.click()
time.sleep(3)
emw=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/main/div/div[4]/form/input[2]')
emw.send_keys("*****************")
psw=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/main/div/div[4]/form/div/input[1]')
psw.send_keys("****************")
log=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/main/div/div[4]/form/div/input[11]')
log.click()
time.sleep(3)
exp=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div[3]/nav/a[5]')
exp.click()
time.sleep(3)
tr=driver.find_element(By.XPATH,'/html/body/div[1]/div[5]/main/div[1]/nav/div/a[3]')
tr.click()
time.sleep(5)
title=[]
title_tags=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in title_tags:
    title.append(i.text)
dis=[]
dis_tags=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
for i in dis_tags:
    dis.append(i.text)
dis.insert(1,"nil")
dis.insert(4,"nil")
lan=[]
lan_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
for i in lan_tags:
    lan.append(i.text)
lan.insert(16,"nil")
lan.insert(6,"nil")
lan.insert(5,"nil")
lan.insert(7,"nil")
df=pd.DataFrame({"title":title,'discription':dis,'language':lan})
df

,title,discription,language
0,LAION-AI / Open-Assistant,Reproduce DeFi hacked incidents using Foundry.,Python
1,SunWeb3Sec / DeFiHackLabs,nil,Solidity
2,ChatGPT-Hackers / ChatGPT-API-server,API server for ChatGPT,Go
3,lencx / ChatGPT,"ü§ñ ChatGPT Desktop Application (Mac, Windows an...",Rust
4,skyzh / mini-lsm,nil,Rust
5,mouredev / retos-programacion-2023,A tutorial of building an LSM-Tree storage eng...,nil
6,merbanan / rtl_433,Ejercicios de c√≥digo semanales en 2023 de la c...,C
7,exaloop / codon,Program to decode radio transmissions from dev...,nil
8,acheong08 / ChatGPT,"A high-performance, zero-overhead, extensible ...",nil
9,HavocFramework / Havoc,Lightweight package for interacting with ChatG...,C++
10,sindresorhus / awesome,The Havoc Framework.,Python
11,dreamncn / ParallelsDesktopCrack,üòé Awesome lists about all kinds of interesting...,Go
12,novuhq / novu,The open-source notification infrastructure fo...,Shell
13,trekhleb / javascript-algorithms,üìù Algorithms and data structures implemented i...,TypeScript
14,codecrafters-io / build-your-own-x,Master programming by recreating your favorite...,JavaScript
15,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,Python
16,google / comprehensive-rust,This is the Rust course used by the Android te...,Rust
17,RustPython / RustPython,A Python Interpreter written in Rust,Rust
18,jlevy / the-art-of-command-line,"Master the command line, in one page",Python
19,lucidrains / PaLM-rlhf-pytorch,Implementation of RLHF (Reinforcement Learning...,nil
20,gin-gonic / gin,Gin is a HTTP web framework written in Go (Gol...,Go
21,hehonghui / awesome-english-ebooks,"ÁªèÊµéÂ≠¶‰∫∫(Âê´Èü≥È¢ë)„ÄÅÁ∫ΩÁ∫¶ÂÆ¢„ÄÅÂç´Êä•„ÄÅËøûÁ∫ø„ÄÅÂ§ßË•øÊ¥ãÊúàÂàäÁ≠âËã±ËØ≠ÊùÇÂøóÂÖçË¥π‰∏ãËΩΩ,ÊîØÊåÅepub„ÄÅmobi...",CSS
22,sherlock-project / sherlock,üîé Hunt down social media accounts by username ...,Python
23,kamranahmedse / developer-roadmap,"Interactive roadmaps, guides and other educati...",TypeScript
24,labmlai / annotated_deep_learning_paper_implem...,üßë‚Äçüè´ 59 Implementations/tutorials of deep learn...,Jupyter Notebook

In [ ]:
#due to confidential information the password and login details hiden

# QUESTION 6

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [250]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get("https://www.billboard.com/")

In [251]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()
driver.execute_script("window.scrollBy(0,670)")
time.sleep(5)
ful=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
ful.click()
time.sleep(4)
song=[]
song_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in song_tags:
    song.append(i.text)
art=[]
art_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in art_tags:
    art.append(i.text)
lw=[]
lw_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for i in lw_tags:
    lw.append(i.text)
pr=[]
pr_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for i in pr_tags:
    pr.append(i.text)
wc=[]
wc_tags=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for i in wc_tags:
    wc.append(i.text)
df=pd.DataFrame({"song":song,"artist":art,"last weak":lw,"peak position":pr,"weak on chart":wc})
df

,song,artist,last weak,peak position,weak on chart
0,All I Want For Christmas Is You,Mariah Carey,1,1,57
1,Rockin' Around The Christmas Tree,Brenda Lee,2,2,51
2,Jingle Bell Rock,Bobby Helms,4,3,48
3,A Holly Jolly Christmas,Burl Ives,5,4,31
4,Last Christmas,Wham!,6,5,30
...,...,...,...,...,...
95,Down Home,Jimmie Allen,-,88,5
96,One Thing At A Time,Morgan Wallen,81,37,3
97,Hold Me Closer,Elton John & Britney Spears,89,6,17
98,Far,SZA,61,61,2
99,All Mine,Brent Faiyaz,95,42,20

# QUESTION 7

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [302]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [303]:
tab=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
tab.send_keys("data science")
sec=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
sec.click()
time.sleep(4)
name=[]
name_tags=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in name_tags:
    name.append(i.text)
dis=[]
dis_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in dis_tags:
    dis.append(i.text)
com=[]
com_tags=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/a[2]')
for i in com_tags:
    com.append(i.text)
skill=[]
skill_tags=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in skill_tags:
    skill.append(i.text)
loc=[]
loc_tags=driver.find_elements(By.XPATH,'//p[@class="highlightable"]/span[2]')
for i in loc_tags:
    loc.append(i.text)
loc.insert(16,"nil")
loc.insert(49,"nil")
df=pd.DataFrame({"name":name,"designation":dis,"company":com,"skill":skill,"location":loc})
df

,name,designation,company,skill,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",nil
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Bhopal
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Chandigarh
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Pune
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Navi Mumbai
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Cochin
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Delhi
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Hyderabad / Secunderabad
24,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Pune
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Gurgaon
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Pune
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Bengaluru / Bangalore
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
34,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",nil

# QUESTION 8

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [248]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [249]:
name=[]
name_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name_tags:
    name.append(i.text)
an=[]
an_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in an_tags:
    an.append(i.text)
vol=[]
vol_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol_tags:
    vol.append(i.text)
pub=[]
pub_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub_tags:
    pub.append(i.text)
gen=[]
gen_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen_tags:
    gen.append(i.text)
df=pd.DataFrame({"name":name,"author name":an,"volume":vol,"publisher":pub,"genre":gen})
df

,name,author name,volume,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# QUESTION 9

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwebdriver('ignore')
import time

In [246]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get("https://www.imdb.com/list/ls095964455/")

In [247]:
name=[]
name_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in name_tags:
    name.append(i.text)
year=[]
year_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]')
for i in year_tags:
    year.append(i.text)
gen=[]
gen_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]')
for i in gen_tags:
    gen.append(i.text)
run=[]
run_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]')
for i in run_tags:
    run.append(i.text)
rat=[]
rat_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]')
for i in rat_tags:
    rat.append(i.text)
vot=[]
vot_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in vot_tags:
    vot.append(i.text)
df=pd.DataFrame({"name":name,"year":year,"genre":gen,"run-time":run,"rating":rat,"vote":vot})
df

,name,year,genre,run-time,rating,vote
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,098,010"
1,Stranger Things,(2016‚Äì ),"Drama, Fantasy, Horror",51 min,8.7,"1,188,051"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"993,085"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"293,882"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,051"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"50,327"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"61,875"
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1,"199,613"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"41,682"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"246,596"

# QUESTION 10

In [ ]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [215]:
driver=webdriver.Chrome(r'E:\chromedriver_win32 (2).exe')
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [216]:
cli=driver.find_element(By.XPATH,'//span[2][@class="whitetext"]/a[1]')
cli.click()
time.sleep(4)
name=[]
name_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]/b/a')
for i in name_tags:
    name.append(i.text)
data=[]
data_tags=driver.find_elements(By.XPATH,'//table[@cellpadding="5"]/tbody/tr/td[2]/p')
for i in data_tags:
    data.append(i.text)
del data[0]
task=[]
task_tags=driver.find_elements(By.XPATH,'//table[@cellpadding="5"]/tbody/tr/td[3]/p')
for i in task_tags:
    task.append(i.text)
del task[0]
del task[622]
at=[]
at_tags=driver.find_elements(By.XPATH,'//table[@cellpadding="5"]/tbody/tr/td[4]/p')
for i in at_tags:
    at.append(i.text)
del at[0]
ints=[]
i_tags=driver.find_elements(By.XPATH,'//table[@cellpadding="5"]/tbody/tr/td[5]/p')
for i in i_tags:
    ints.append(i.text)
del ints[0]
a=[]
a_tags=driver.find_elements(By.XPATH,'//table[@cellpadding="5"]/tbody/tr/td[6]/p')
for i in a_tags:
    a.append(i.text)
del a[0]
year=[]
year_tags=driver.find_elements(By.XPATH,'//table[@cellpadding="5"]/tbody/tr/td[7]/p')
for i in year_tags:
    year.append(i.text)
del year[0]
df=pd.DataFrame({"data name":name,"data type":data,"task":task,"attribute type":at,"no of instance":ints,"no of attribute":a,"year":year})
df

,data name,data type,task,attribute type,no of instance,no of attribute,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021